# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.test
.env.production

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
/.vscode
*.code-workspace

# TypeScript
*.tsbuildinfo